<div id="<%= dom_id deal %>">
  <h4>Deal N* <%= deal.id.to_s.rjust(5, "0") %></h4>
  <p>
    <strong>Name:</strong>
    <%= deal.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= deal.amount %>
  </p>

</div>
