<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= image_tag("data:image/png;base64,#{category.icon}") %>
  </p>

</div>
